 ---
 ---

@import "{{ site.theme }}";

body {
  padding-top: 0;
}

.wrapper {
  width: 100%;
  padding-top: 100px;
}

.header, .section {
  float: none;
  width: 100%;
}
.header {
  position: fixed;
  display: fixed;
  top: 0;
  background-color: #fff;
}
